*{
    padding: 0px;
    margin: 0px;
}
nav{
    height: 40px;
    padding: 6px;
}

.keralatourism{ 
    color: white;
}
.number{
    color: white;
   
}
.email{
    color: white;
}
.logoimage{
    height: 30px;
 margin-right: 980px;
 
}
body{
    background-size: cover;
}
.mb-3{
    color: white;
}
.homefooter{
    margin-left: 40%;
    
}